<main>
  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render 'layouts/post_form', user: @user, book: @book_new %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user) do %>
                  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
                  <%= @user.name %>
                <%end %>
              </td>
              <td>
                <%= link_to @book.title %>
              </td>
              <td><%= @book.body %></td>
              <% if @user == current_user %>
                <td>
                  <%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %>
                </td>
                <td>
                  <%= link_to "Destroy", book_path(@book),method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-sm btn-danger" %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>