<main>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
  <div class="container px-5 px-sm-0">
    <div class="row">
      <%= render '/layouts/list', user: @user, book: @book_new %>
      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@user)  do %>
                  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" ,size: "40x40"%>
                  <%= @user.name %>
                <% end %>
              </td>
              <td><%= link_to @book.title %></td>
              <td><%= @book.body %></td>
              <% if @user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@book.id), class:"btn btn-sm btn-success" %></td>
                <td><%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-sm btn-danger" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
        <div class="comments">
          <p>コメント件数：<%= @book.book_comments.count %></p>
          <% @book.book_comments.each do |book_comment| %>
            <p><%= image_tag(@user) %></p>
            <%= book_comment.user.name %>
            <%= book_comment.created_at.strftime('%Y/%m/%d') %><%= book_comment.comment %>
          <% end %>
        </div>
        <div class="new-comment">
          <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
            <%= f.text_area :comment, rows:'5' %>
            <%= f.submit "送信" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
