<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color: #343a40;">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <%= link_to "Bookers", root_path %>
          </div>
          <div class="col-md-8">
            <ul class="ml-auto ">
              <li>
                <%= link_to "Home", root_path %>
              </li>
              <li>
                <%= link_to "Users", root_path %>
              </li>
              <li>
                <%= link_to "Books", root_path %>
              </li>
              <li>
                <% if user_signed_in? %>
                    <%= link_to "logout", destroy_user_session_path, method: :delete %>
                <% else %>
                  <li>
                    <%= link_to "log in", new_user_session_path %>
                  </li>
                <% end %>
              </li>
            </ul>
         </div>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
